/* style.css */

/* Reset default styles */
body {
  margin: 0;
  padding: 0;
  color: #000000;
}

/* Apply font and size to specific text */
.specific-text {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 24px;
}

/* Styles for header */
header {
  background-image: url("https://i.ibb.co/1sGRZ8g/eren.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 300px;
  position: relative;
}

/* Styles for avatar */
#avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Pseudo-element to create shadow effect */
#avatar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 50% 50%;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

/* Styles for navigation */
nav {
  text-align: center;
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 50px 0 10px;
  display: block;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
