body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  #searchResults {
    list-style-type: none;
    padding: 0;
  }
  
  #searchResults li {
    padding: 10px;
    cursor: pointer;
  }
  
  #searchResults li:hover {
    background-color: #f4f4f4;
  }
  